body {
    text-align: center;
}

button {
    border-radius: 5px;
}

#action-buttons {
    margin-top: 100px;
}

#clock-wrapper {
    margin-top: 30px;
    font-size: 100px;
}

#pomo-preview {
    margin-bottom: 20px;
}

.break {
    color: lightskyblue;
}